<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <security-constraint>
     <web-resource-collection>
          <web-resource-name>securingBank</web-resource-name>
          <url-pattern>/balanceurl</url-pattern>  <!--  we can this tag for multiple times to secure multiple web comps -->
          <http-method>GET</http-method>  <!-- We can place this for multiple to specify different request modes -->
     </web-resource-collection>
     <auth-constraint>
          <role-name>CLERK</role-name>
          <role-name>MANAGER</role-name>
     </auth-constraint>
</security-constraint>
 <login-config>
     <auth-method>FORM</auth-method>
      <realm-name>myrealm</realm-name>
     <form-login-config>
         <form-login-page>/login_form.html</form-login-page>
         <form-error-page>/login_fail.html</form-error-page>
     </form-login-config>
 </login-config>
 
 <error-page>
   <error-code>403</error-code>
   <location>/403_error.jsp</location>
 </error-page>
  
</web-app>