<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
                  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
                   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
                       id="WebApp_ID" version="4.0">
   <servlet>
       <servlet-name>marriage</servlet-name>
       <servlet-class>com.nt.servlet.MarriageServlet</servlet-class>
   </servlet>  
   <servlet-mapping>
      <servlet-name>marriage</servlet-name>
      <url-pattern>/marriageurl</url-pattern>
   </servlet-mapping>
   <servlet>
       <servlet-name>welcome</servlet-name>
       <servlet-class>com.nt.servlet.WelcomeServlet</servlet-class>
   </servlet>  
   <servlet-mapping>
      <servlet-name>welcome</servlet-name>
      <url-pattern>/welcomeurl</url-pattern>
   </servlet-mapping>
   
   <welcome-file-list>
         <welcome-file>input.html</welcome-file>
         <welcome-file>home1.html</welcome-file>
       <welcome-file>input1.jsp</welcome-file>
       <welcome-file>home1.jsp</welcome-file>
   </welcome-file-list> 
   
</web-app>