<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EmployeeSearchApp13</display-name>
  <welcome-file-list>
    <welcome-file>input.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>emp</servlet-name>
    <servlet-class>com.nt.servlet.EmployeeSearchServlet</servlet-class>
    <init-param>
       <param-name>driverClass</param-name>
       <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <init-param>
      <param-name>jdbcUrl</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
    </init-param>
    <init-param>
       <param-name>dbuser</param-name>
       <param-value>system1</param-value>
    </init-param>
    <init-param>
       <param-name>dbpwd</param-name>
       <param-value>manager</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>emp</servlet-name>
     <url-pattern>/employeeurl</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>com.nt.servlet.TestServlet</servlet-class>
    <init-param>
       <param-name>dbuser</param-name>
       <param-value>mahesh1</param-value>
    </init-param>
      <init-param>
       <param-name>dbuser</param-name>
       <param-value>mahesh</param-value>
    </init-param>
  </servlet>
   <servlet-mapping>
      <servlet-name> test</servlet-name>
      <url-pattern>/testurl</url-pattern>
   </servlet-mapping>
  
</web-app>